header{
    background-color: #FFFFFF;
    padding: 0 40px;
    height: 60px;
    display: flex;
    color: black;
    align-items: center; 
    gap: 16px;
    padding-top: 26px;
}
.navbar{
    width: 100%;
    display: flex;
    color: bisque;
    align-items: center;
    justify-content: space-around;

}
.nav-bar{
    margin: auto;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 28px;
    justify-content: space-around;
}


.logo{
    color: #2C3131;
    font-family: Inter;
    font-style: regular;
    font-size: 16px;
    font-weight: 61px;
    line-height: 150%;
    padding-top: 16px;
    padding-left: 50.5px;
}
ul{

    
    color: #2C3131;
    list-style: none;
    display: flex;
    
}
li a{
    color: #2C3131;
    list-style-type: none;
    text-decoration: none;
    align-content: center;
    
}

.btn-button{
    color: #2C3131;
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-right: 50.5px;
    gap: 28px;
    justify-content: space-around;
}