:root{
    --primary-color: #FFFFFF;
    --secondary-color: ;
    --acent-color: #2752E7;
    --background-color: #2752E7;
    --text-color: #2C3131;
}

.header{
    background-color: #FFFFFF;
    padding: 0 40px;
    height: 60px;
    display: flex;
    color: black;
    align-items: center; 
    gap: 16px;
    top: 26px;
    position: fixed;
    backdrop-filter: blur(120px);
    top: 0; 
    width: 100%;
    z-index: 100; 
}

.logo{
    font: Nohemi;
    font-style: semi bold;
    font-size: 23.13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 26px;
    left: -0.5px;
    width: 24px;
    height: 24px;
    gap: 10px;
    line-height: 130%;
    letter-spacing: 0px;
}
span{
    font-weight: 600;
    font: nohemi;
    line-height: 130%;
    letter-spacing: 0px;
    font-style: semi bold;
}
.nav{
    width: 100%;
    display: flex;
    color: #2C3131;
    align-items: center;
    justify-content: space-around;
    
}
.nav-bar, li a{
    color: #2C3131;
    margin: auto;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 28px;
    justify-content: space-around;
    text-decoration: none; 
}
.btn-button{
    color: #2C3131;
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-right: 50.5px;
    gap: 28px;
    justify-content: space-around;
    top: 16px;
    width: 218px;
    height: 48px;
}
.Get-Started{
    height: hug(48px);
    width: hug(137px);
    background-color: #2752E7;
    border: 1px #FFFFFF;
    border-radius: 10px;
    gap: 10px;
    padding: 12px 24px;
    

}
.Get-Started-a{
    color: #FFFFFF;
    text-decoration: none;
}

/*hero section*/
.hero-container{
    background-color: #2752E7;
    height: 759px;
       
}

.content{
    width: 618px;
    height: 150px;
    padding: 150px;
    padding-left: 120px;
}
.content-para{
    color: #FFFFFF;
    line-height: 125%;
    font-size: 40px;
    font-style: bold;
    font-family: Yukita Sans;
    font-weight: 700;
    letter-spacing: 0px;
}

 .pp{
    height: 56px;
    left: 20px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 40;
    font: Inter;
    width: 618px;
    height: 100px;
    padding: 10px;
    padding-left: 20px;
    top: 340px;
    gap: 20px;
}
.cta-but{
    background-color: #2752E7;
    height: 24px;
}

.Currency-converter{
    position: absolute;
    top: 94px;
    right: 0;
    border: 3px ;
    margin: 30px;
    padding: 0.1rem;
    font-family: Yukita Sans;
    width: 419px;
    height: 419px;
    color: #FFFFFF 1px;
    background-color: rgb(83, 114, 160);
    border-radius: 20px;
    opacity: 80%;
}

.currency-content, .text-card{
    color: #FFFFFF;
    display: block;
    flex-direction: column;

}
.currency-content{
    line-height: 14px;
    letter-spacing: 0;
    font-size: 24px;
    font-style: Yukita Sans;
    font-weight: 600;
}

.currency-content h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.text-card{
    display: flexbox;
}

.article1{
    background-color: #FFFFFF;
    top: 839px;
    height: 438px;
    width: 1440px;
    
}
.Brand-Company{
    background-color: #FFFFFF;
    flex-direction: column;
    height: 82px;
    width: 1,440px;
    left: 6px;
    padding-top: 24px;
    padding-right: 120px;
    padding-left: 120px;
    padding-bottom: 24px;

}

.brand-l{
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    list-style: none;
    align-items: center;
    height: 33.16px;
    gap: 20px;
    
}

.stats-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px 100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    gap: 100px;
    border: 1px;
}

/* Needed for positioning the line */
.stat-column {
    text-align: center;
    padding: 0 20px;
    position: relative; 
}

/* This creates the vertical divider line */
.stat-column:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    border: 1px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px; /* Thickness of the line */
    height: 60%; /* Length of the line relative to the column */
    background-color: #CACACA; /* Color of the line */
}

.number {
    font-family: Yukita Sans;
    font-size: 48px;
    font-style: light;
    font-weight: 300;
    color: #050E2C; 
    margin-bottom: 5px;
    line-height: 125%;
    letter-spacing: 0px;
    width: 107px;
    height: 60px;
}

.description {
    font-family: inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    letter-spacing: 0px;
    font-size: 14px;
    color: #626262; 

}


.minute-section{
    display: flex;
    background-color: #D0DBFF;
    text-align: center;
}

.card-m{
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    top: 1229px;
    left: 119px;
    border: 1px;
    border-radius: 20px;
    height: 414px;
    width: 1,197px;
    gap:  20px;
    text-align: center;
}
.mute-card{
    font-family: inter;
    font-weight: 400;
    font-style: regular;
    line-height: 150%;
    flex-direction: row;
    letter-spacing: 0px;
    color: #626262;
}



/* footer*/
.footer{
    background-color: #2752E7;
    color: #FFFFFF;
    border-radius: 19.36px;
    
    top: 5315px;

    line-break: 40;
    
}
.container-footer{
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    top: 77.43px;
    left: 64.22px;
    gap: 116.14px;
    height: 382.87px;
    
}
.cpc{
    font-family: Inter;
    font-style: semi bold;
    line-height: 145%;
    letter-spacing: 0px;
    font-weight: 600;
}

.sub-content ul{
    gap: 25.92px;
    flex-direction: column;
    list-style: none;    
    text-align: left;
}
