header{
    background-color: #FFFFFF;
    padding: 0 40px;
    height: 60px;
    display: flex;
    color: black;
    align-items: center; 
    gap: 16px;
    padding-top: 26px;
}
.navbar{
    width: 100%;
    display: flex;
    color: bisque;
    align-items: center;
    justify-content: space-around;

}
.nav-bar{
    margin: auto;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 28px;
    justify-content: space-around;
}


.logo{
    color: #2C3131;
    font-family: Inter;
    font-style: regular;
    font-size: 16px;
    font-weight: 61px;
    line-height: 150%;
    padding-top: 16px;
    padding-left: 50.5px;
}
ul{

    
    color: #2C3131;
    list-style: none;
    display: flex;
    
}
li a{
    color: #2C3131;
    list-style-type: none;
    text-decoration: none;
    align-content: center;
    
}

.btn-button{
    color: #2C3131;
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-right: 50.5px;
    gap: 28px;
    justify-content: space-around;
}

/*hero section*/
.hero-container{
    background-color: #2752E7;
    height: 759px;
    
    
}
.content{
    width: 618px;
    height: 150px;
    padding: 150px;
    padding-left: 120px;
}
.content-para{
    color: #FFFFFF;
    line-height: 125%;
    font-size: 40px;
    font-style: bold;
    font-family: Yukita Sans;
    font-weight: 700;
    letter-spacing: 0px;
}

 .pp{
    height: 56px;
    left: 20px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 40;
    font: Inter;
    width: 618px;
    height: 100px;
    padding: 10px;
    padding-left: 20px;
    top: 340px;
    gap: 20px;
}
.cta-but{
    background-color: #2752E7;
    height: 24px;
}

.Currency-converter{
    display: flex;
    font-family: Yukita Sans;
    width: 419px;
    height: 419px;
    top: 90px;
    left: 829px;
    color: #FFFFFF;
    background-color: red;
    border-radius: 20px;
    opacity: 80%;


    text-align: right;
    display:flexbox;
    transform: none;
}