.header{
    background-color: #FFFFFF;
    padding: 0 40px;
    height: 60px;
    display: flex;
    color: black;
    align-items: center; 
    gap: 16px;
    top: 26px;
    position: fixed;
    backdrop-filter: blur(120px);
    top: 0; 
    width: 100%;
    z-index: 100; 
}

.logo{
    font: Nohemi;
    font-style: semi bold;
    font-size: 23.13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 26px;
    left: -0.5px;
    width: 24px;
    height: 24px;
    gap: 10px;
    line-height: 130%;
    letter-spacing: 0px;
}
span{
    font-weight: 600;
    font: nohemi;
    line-height: 130%;
    letter-spacing: 0px;
    font-style: semi bold;
}
.nav{
    width: 100%;
    display: flex;
    color: #2C3131;
    align-items: center;
    justify-content: space-around;
    
}
.nav-bar, li a{
    color: #2C3131;
    margin: auto;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 28px;
    justify-content: space-around;
    text-decoration: none; 
}
.btn-button{
    color: #2C3131;
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-right: 50.5px;
    gap: 28px;
    justify-content: space-around;
    top: 16px;
    width: 218px;
    height: 48px;
}
.Get-Started{
    height: hug(48px);
    width: hug(137px);
    background-color: #2752E7;
    border: 1px #FFFFFF;
    border-radius: 10px;
    gap: 10px;
    padding: 12px 24px;
    

}
.Get-Started-a{
    color: #FFFFFF;
    text-decoration: none;
}

/*hero section*/
.hero-container{
    background-color: #2752E7;
    height: 759px;
       
}

.content{
    width: 618px;
    height: 150px;
    padding: 150px;
    padding-left: 120px;
}
.content-para{
    color: #FFFFFF;
    line-height: 125%;
    font-size: 40px;
    font-style: bold;
    font-family: Yukita Sans;
    font-weight: 700;
    letter-spacing: 0px;
}

 .pp{
    height: 56px;
    left: 20px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 40;
    font: Inter;
    width: 618px;
    height: 100px;
    padding: 10px;
    padding-left: 20px;
    top: 340px;
    gap: 20px;
}
.cta-but{
    background-color: #2752E7;
    height: 24px;
}

.Currency-converter{
    display: flex;
    font-family: Yukita Sans;
    width: 419px;
    height: 419px;
    top: 90px;
    left: 829px;
    color: #FFFFFF;
    background-color: red;
    border-radius: 20px;
    opacity: 80%;


    text-align: right;
    display:flexbox;
    transform: none;
}

.footer{
    background-color: #2752E7;
    color: #FFFFFF;
    border-radius: 19.36px;
    left: 103px;
    top: 5315px;

    line-break: 40;
    
}
.container-footer{
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
}

