.header{
    background-color: #FFFFFF;
    width: fixed(1440px);
    height: hug(80px);
    border: 1px #0000001A 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border: 1px;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    
}

.logo{
    flex-direction: row;
    color: #2C3131;
    font-family: Inter;
    font-style: regular;
    font-size: 16px;
    font-weight: 61px;
    line-height: 150%;
    padding-top: 16px;
    padding-left: 50.5px;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 28px;
    padding: 28px auto;
    white-space: nowrap;

    
}

.nav-bar, ul li a{
    top: 28px;
    left: 571.5px;
    gap: 28px;
    width: hug(295px);
    height:  hug(24px);
    color: #2C3131;
    margin: auto;
    display: flex;
    list-style: none;
    align-items: center;
    gap: 28px;
    justify-content: space-around;
    text-decoration: none; 
}

.logo{
    color: #2C3131;
    font-family: Inter;
    font-style: regular;
    font-size: 16px;
    font-weight: 61px;
    line-height: 150%;
    top: 16px;
    padding-left: 50.5px;
}
.btn-button{
    display: flex;
    align-items: center;
    padding-top: 16px;
    padding-right: 50.5px;
    gap: 28px;
    justify-content: space-around;
    top: 16px;
    left: 1101.5px;
    gap: 10px;  
}
.Get-Started{
    height: hug(48px);
    width: hug(137px);
    background-color: #2752E7;
    border: 1px #FFFFFF;
    border-radius: 10px;
    gap: 10px;
    padding: 12px 24px;
}
.Get-Started-a{
    color: #FFFFFF;
    text-decoration: none;
}

/*hero section*/
.hero-container{
    background-color: #2752E7;
    height: 759px;
       
}

.content{
    width: 618px;
    height: 150px;
    padding: 150px;
    padding-left: 120px;
}
.content-para{
    color: #FFFFFF;
    line-height: 125%;
    font-size: 40px;
    font-style: bold;
    font-family: Yukita Sans;
    font-weight: 700;
    letter-spacing: 0px;
}

 .pp{
    height: 56px;
    left: 20px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 40;
    font: Inter;
    width: 618px;
    height: 100px;
    padding: 10px;
    padding-left: 20px;
    top: 340px;
    gap: 20px;
}
.cta-but{
    background-color: #2752E7;
    height: 24px;
}

.Currency-converter{
    display: flex;
    font-family: Yukita Sans;
    width: 419px;
    height: 419px;
    top: 90px;
    left: 829px;
    color: #FFFFFF;
    background-color: red;
    border-radius: 20px;
    opacity: 80%;


    text-align: right;
    display:flexbox;
    transform: none;
}