.header{
    background-color: #FFFFFF;
    color: #2C3131;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 48;
    width: 1199px;
    border: 1px;
    padding-top: 16px;
    padding-bottom: 16px;
    gap: 16px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}


.nav{
    gap: 28px;
    top: 28px;
}
.logo{
    flex-direction: row;
    color: #2C3131;
    font-family: Inter;
    font-style: regular;
    font-size: 16px;
    font-weight: 61px;
    line-height: 150%;
    padding-top: 16px;
    padding-bottom: 16px;
    left: 12000.5px;
}
.navbar {
    color: #2C3131;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 28px;
    padding: 28px auto;
    white-space: nowrap;
}
.nav-bar{
   font: inter;
   width: 400;
   font-style: Regular;
   align-items: center; 
   left: 571.5px;
   text-align: center;
   line-height: 150%;
   letter-spacing: 0px;
   font-size: 16px;
}
.nav-bar, a{
    top: 28px;
    filter: blur(120);
    backdrop-filter: blur(120px);
    gap: 28px;
    width: hug(295px);
    height:  hug(24px);
    list-style: none;
    display: flex;
    list-style: none;
    text-decoration: none;
}


.btn-button{
    display: flex;
    background-color: #FFFFFF;
    color: #2C3131;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 16px;
    left: 1101.5px;
    gap: 28px;  
}
.get-started{
    background-color: #2752E7;
    color: #FFFFFF;
    font-family: Inter;
    border: 1px #FFFFFF;
    border-radius: 10px;
    gap: 10px;
    font-style: Semi (Bold);
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0px;
    align-content: center;
    
}
.get-started-a{
    color: #FFFFFF;
    text-decoration: none;
}

/*hero section*/
.hero-container{
    background-color: #2752E7;
    height: 759px; 
}
.content{
    width: 618px;
    height: 150px;
    padding: 150px;
    padding-left: 120px;
}
.content-para{
    color: #FFFFFF;
    line-height: 125%;
    font-size: 40px;
    font-style: bold;
    font-family: Yukita Sans;
    font-weight: 700;
    letter-spacing: 0px;
}

 .pp{
    height: 56px;
    left: 20px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 40;
    font: Inter;
    width: 618px;
    height: 100px;
    padding: 10px;
    padding-left: 20px;
    top: 340px;
    gap: 20px;
}
.cta-but{
    background-color: #2752E7;
    height: 24px;
}

.Currency-converter{
    display: flex;
    font-family: Yukita Sans;
    width: 419px;
    height: 419px;
    top: 90px;
    left: 829px;
    color: #FFFFFF;
    background-color: red;
    border-radius: 20px;
    opacity: 80%;


    text-align: right;
    display:flexbox;
    transform: none;
}