header{
    background: blur;
    color: #FFFFFF;
    padding: 16px;
    gap: 10px;
    border: 1px;
    display: flex;
    align-content: center;
    justify-items: center;
    
}
.logo{
    color: #2C3131;
    font-family: Nohemi;
    font-style: Semi Bold;
    font-weight: 130%;
}
ul{

    
    color: #2C3131;
    list-style: none;
    display: flex;
    
}
li a{
    color: #2C3131;
    list-style-type: none;
    text-decoration: none;
    align-content: center;
    
}
.btn-button{
    display: flex;
    align-items: center;
}